/* Eléments principaux de la page (largeur du site, fond, couleur par défaut du texte) */
* {
    box-sizing: border-box;
}

body {
    font-family: verdana; 
    background-color: #171738;
    color:black;
    margin: 0;
    
}

h1 {
    color: #8EF9F3;
    font-size: 2em;
    padding-left: 1em;
}

h2, h3 {
    color: #171738;
    font-size: 1.5em;
}

/* Navigation bar - En-tête et liens de navigation.*/

.nav {
    overflow: hidden;
    background-color: #6B48AD;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.logo {
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-menu {
    list-style-type: none;
    text-align: right;
    width: 100%;
}

.nav-menu .list {
    display: inline-block;
    padding: 20px 10px; 
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav a:hover {
    color: #8EF9F3;
}

#hamburger-container {
    background-color: transparent;
    display: none;
    border: 0;
    color: white;
    cursor: pointer;

}

#hamburger-container:focus {
    outline: none;
}

.ham-line {
    width: 20px;
    height: 3px;
    background-color: white;
    margin-top: 4px;
}


/* Bannière (représentant le photoreel).*/      

.photoreel {
    margin-top: 20px;
    border: 10px #171738 solid;
}

/*autre Sections de page d'accueil*/
.hero {
    background-color: whitesmoke;
    display: flex;
    position: center;
    margin-top: 1em;
    padding: 0.8em;
    border: 2em #171738 solid;
    width: 100%
 }

 .contact {
     display: flex;
     flex-direction: column;
 }

.two-column {
    display:flex;
    flex-direction:row;
    position: center;
    border: 2em #171738 solid;
    width: 100%
}

.two-column div {
    flex: 1;
    border:1em solid #8EF9F3; 
    display:flex;
    justify-content:left;
    align-items:flex-start;
    background-color: whitesmoke;
    padding: 0.3em;

}

#service-picture-container {
    border: none; 
    background-color: #171738;
    justify-content: center;
    align-items: center;
}

.article {
    padding-right: 1em;
    padding-left: 1em;
}

.article_map {
    border: 1em #8EF9F3 solid;
    display: flex;
    flex: 1;
}

.list_directions {
    list-style-type: none;
}

/*Sections de page de nos services*/

#price {
    font-size: 2em;
    color: #D81E5B;
    font-weight: bold;
}

.list_services {
    list-style-type:disc;
}

/*Sections de page contactez-nous*/

.fieldset {
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.legend {
    background-color: whitesmoke;
}

#nom {
    background-color: skyblue;
}

#prenom {
    background-color: skyblue;
}

#email {
    background-color: skyblue;
}

#tel {
    background-color: skyblue;
}

#address {
    background-color: skyblue;
}

#sujet {

    background-color: rgb(187, 187, 243);

}

#message {
    background-color: skyblue;
}

:required
{
    background-color: whitesmoke;
}

:invalid
{
    background-color: whitesmoke;
}

:focus
{
    background-color: lightskyblue;
}

/*Sections de page mentions légales de page politique de confidentialité*/

/* Pied de page (footer) */
.footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #171738;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 0.2em white transparent;
    text-align: center;
}

footer p, footer ul, footer a
{
    font-size: 0.8em;
    color: white;
}

footer h2 a {
    text-decoration: none;
    font-size: 1.2em;
    color: #8EF9F3;
}
footer h3
{
    font-size: 1.1em;
    color: white;
}

/*planifier une réunion div */

.footer_button {
    display: flex;
    justify-content: center;
    background-color: #D81E5B;
    color:white;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    border: 0.2em #6B48AD solid;
    padding: 1em;
    font-size: 2.5em;
    width: 30%;
}

.footer_button a {
    color:white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.footer_legal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8em; 
    color: white;
    width: 50%;
}

.footer_social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50%;
    

}

/* Style all font awesome icons */
.fa {
    padding: 0.5em;
    font-size: 1.5em;
    width: 2.5em;
    text-align: center;
    text-decoration: none;
    margin: 0.2em 0.2em;
    color: white;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  .fa-github {
    background: #000000;
  }

  .fa-facebook {
    background: #3B5998;
  }
  
  .fa-twitter {
    background: #55ACEE;
  }

  .fa-linkedin {
    background: #007bb5;
  }

  .fa-instagram {
    background: #8a3ab9;
  }

@media all and (max-width: 767px) {

    /*navigation*/
    .nav {
        flex-direction: column;
    }

    .nav .container-logo {
        width: 100%;
    }

    .logo {
        margin-top: 10px;
        margin-left: 10px;
    }

    #hamburger-container {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .nav-menu {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }

    .nav-menu .list {
        display: block;
        border-top: 1px solid transparent;
    }

    .active {
        display: block;
    }



    /*.hero*/

    .article {
        display: flex;
        flex-direction: column;
    }

    .article_map {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
        height: auto;
    }
/*nos services*/
    .two-column {
        flex-direction: column;
    }
/*footer*/
    .footer_button {
        margin: auto;
        width: 80%;
    }

    .footer_legal {
        margin: auto;
        width: 100%;
    }
    
    .footer_social {
        margin: auto;
        width: 100%;
    }

}