/* Eléments principaux de la page (largeur du site, fond, couleur par défaut du texte) */
* {
    box-sizing: border-box;
}

body {
    font-family: verdana; 
    background-color: #F1F1F9;
    color: #12122B;
    margin: 0;
    
}

h1 {
    font-size: 3em;
   
    text-align: center;
    color: #D81E5B;
}

h2 {
    font-size: 2.1em;
}

.centered-header {
    text-align: center;
}

h3 {
    font-size: 1.8em;
}

p {
    font-size: 1.5em;;
}

/* Navigation bar - En-tête et liens de navigation.*/

.nav {
    overflow: hidden;
    background-color: #12122B;
    color: #F1F1F9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
}

.logo {
    height: 100%;
    width: 300%;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-menu {
    list-style-type: none;
    text-align: right;
    width: 100%;
}

.nav-menu .list {
    display: inline-block;
    padding: 20px 10px; 
}

.nav a {
    color: #F1F1F9;
    text-decoration: none;
    font-size: 1em;
}

.nav a:hover {
    color: #D81E5B;
}

#hamburger-container {
    background-color: transparent;
    display: none;
    border: 0;
    color: #F1F1F9;
    cursor: pointer;

}

#hamburger-container:focus {
    outline: none;
}

.ham-line {
    width: 20px;
    height: 3px;
    background-color: #F1F1F9;
    margin-top: 4px;
}

/* Slideshow*/      

/*#slideshow-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: center;
    margin: auto;
}*/

.mySlides {display: none}

.mySlides {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.slideshow-image {
    height: 50vh;
    max-width: 50vw;
}

/* Slideshow navigation buttons */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1em;
    margin-top: 5em;
    color: #12122B;
    font-weight: bold;
    font-size: 2em;
    transition: 0.6s ease;
    user-select: none;
  }
  
.next {
  right: 0;
}

.prev {
    left: 0;
  }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #d71d5bcc;
}

/* Caption text */
.text {
    color: black;
    font-size: 1.3em;
    padding: 0.8em 1em;
    bottom: 0.8em;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

/* The dots/bullets/indicators */

.dot-container {
    display: flex;
    justify-content: center;
}

.dot {
  cursor: pointer;
  height: 1.1em;
  width: 1.1em;
  margin: 0 2px;
  background-color: #12122B;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #12122B;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*autre Sections de page d'accueil*/
.hero {
    display: flex;
    position: center;
    margin-top: 1em;
    padding: 0.8em;
    width: 100%
 }

.contact {
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

.two-column-home {
    display:flex;
    flex-direction:row;
    position: center;
    width: 100%;
}

.article {
    padding-right: 1em;
    padding-left: 1em;
    flex: 1;
}

.article_map {
    border: 1em transparent solid;
    display: flex;
    flex: 1;
}

.list_directions {
    list-style-type: none;
}

/*Sections de page de nos services*/

.hero-container-one {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero-container-two {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
}

#price {
    font-size: 2em;
    color: #D81E5B;
    font-weight: bold;
}

.list_services {
    list-style-type:disc;
}

.two-column {
    display:flex;
    flex-direction:row;
    position: center;
    width: auto;
}

.service-description {
    flex: 1;
    display:flex;
    justify-content:left;
    align-items:flex-start;
}

.service-description-span {
    padding: 0.5em;
    border: 0.5em solid transparent;
}

.service-picture-container {
    flex: 1; /*editing this out makes img small and left*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-picture {
    width: 100%;
    height: auto;
    max-width: 60vh;
}

/*Sections de page contactez-nous*/

.fieldset {
    color: #12122B;
    font-family: Verdana;
    font-size: 1.3em;
}

.legend {
    background-color: #F1F1F9;
}

#nom {
    background-color: skyblue;
}

#prenom {
    background-color: skyblue;
}

#email {
    background-color: skyblue;
}

#tel {
    background-color: skyblue;
}

#address {
    background-color: skyblue;
}

#sujet {

    background-color: rgb(187, 187, 243);

}

#message {
    background-color: skyblue;
}

:required
{
    background-color: #F1F1F9;
}

:invalid
{
    background-color: #F1F1F9;
}

:focus
{
    background-color: lightskyblue;
}

/*Sections de page mentions légales de page politique de confidentialité*/

/* Pied de page (footer) */
.footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #12122B;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 0.2em solid transparent;
    text-align: center;
}

footer p, footer ul, footer a
{
    font-size: 0.8em;
    color: #F1F1F9;
}

footer h2 a {
    text-decoration: none;
    font-size: 1.2em;
}

footer h2 a:hover {
    text-decoration: none;
    font-size: 1.2em;
    color: #D81E5B;
}

footer h3
{
    font-size: 1.1em;
    color: #F1F1F9;
}

/*planifier une réunion div */

.footer_button {
    display: flex;
    justify-content: center;
    background-color: #D81E5B;
    color:#12122B;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    border: 0.2em solid transparent;
    padding: 1em;
    font-size: 2.5em;
    width: 30%;
}

.footer_button a {
    color:#12122B;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.footer_button a:hover {
    color: #F1F1F9;
}

.footer_legal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8em; 
    color: #F1F1F9;
    width: 50%;
}

.footer_legal a:hover {
    color: #D81E5B;
}

.footer_social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #F1F1F9;
    width: 50%;
}

/* Style all font awesome icons */
.fa {
    padding: 0.5em;
    font-size: 1.5em;
    width: 2.5em;
    text-align: center;
    text-decoration: none;
    margin: 0.2em 0.2em;
    color: #F1F1F9;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  .fa-github {
    background: #000000;
  }

  .fa-facebook {
    background: #3B5998;
  }
  
  .fa-twitter {
    background: #55ACEE;
  }

  .fa-linkedin {
    background: #007bb5;
  }

  .fa-instagram {
    background: #8a3ab9;
  }

@media all and (max-width: 900px) {

/*navigation*/
    .nav {
        flex-direction: column;
    }

    .nav .container-logo {
        width: 100%;
        justify-content: center;
    }

    .logo {
        width: 50%;
        height: 50%;
        margin-top: 10px;
        margin-left: 10px;
    }

    #hamburger-container {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .nav-menu {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }

    .nav-menu .list {
        display: block;
        border-top: 1px solid transparent;
    }

    .active {
        display: block;
    }

/*slideshow*/

.prev, .next, .text {font-size: 1em}
  
/*.hero*/

    .two-column-home {
        flex-direction: column;
    }

    .article {
        display: flex;
        flex-direction: column;
    }

    .article_map {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
        height: auto;
    }

/*nos services*/

    .hero {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .hero ul {
        text-align: left;
    }

    .two-column {
        flex-direction: column;
    }

    .service-picture {
        width: 100%;
        height: auto;
    }

    .service-description {
       text-align: center;
    }

/*footer*/
    .footer_button {
        margin: auto;
        width: 80%;
    }

    .footer_legal {
        margin: auto;
        width: 100%;
    }
    
    .footer_social {
        margin: auto;
        width: 100%;
    }

}