/* Eléments principaux de la page (largeur du site, fond, couleur par défaut du texte) */
* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: verdana; 
    color: black;
    margin: 0;
}

#block-page
{
    width: 100%;
    margin: auto;
    background-color: whitesmoke;
    font-family: verdana; 
    color: black;
    margin: 0;
}

h1 {
    color: green;
    font-size: 2em;
}

h2, h3 {
    color: black;
    font-size: 1.5em;
}

/* Navigation bar - En-tête et liens de navigation.*/

.navbar {
    overflow: hidden;
    background-color: #975ab6;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    top: 0;
    width: 100%;
    padding: 10px;

}

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        list-style-type: none;
    }

    .menu .menu-item a {
        display: inline-block;
        padding: 20px 10px; 
    }

    .menu-item a {
        text-decoration: none;
        color: white;
    }

    .hamburger {
        background-color: transparent;
        border: 0;
        display: none;
        color: white;
        cursor: pointer;
        font-size: 20px;
    }

    .hamburger:focus {
        outline: none;
    }


/* Bannière (représentant le photoreel).*/      

.photoreel {
    margin-top: 20px;
    border: 3px blue solid;
}

/*autre Sections de page d'accueil*/

.description {
    position: center;
    margin-top: 30px;
    border: 3px blue solid;
    width: 100%
 }

#map-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    border: 3px blue solid;
}

#address-map {
    border: 2px black solid;
    margin: 10px 10px;

}

#directions {
    border: 2px black solid;
    margin: 10px 10px;
}

.directions-list {
    list-style-type: none;
}

/*Sections de page de nos services*/

/*Sections de page contactez-nous*/

.fieldset {
    color:black;
}

.legend {
    background-color: whitesmoke;
}

#nom {
    background-color: skyblue;
}

#prenom {
    background-color: skyblue;
}

#email {
    background-color: skyblue;
}

#tel {
    background-color: skyblue;
}

#address {
    background-color: skyblue;
}

#sujet {

    background-color: rgb(187, 187, 243);

}

#message {
    background-color: skyblue;
}

:required
{
    background-color: whitesmoke;
}

:invalid
{
    background-color: whitesmoke;
}

:focus
{
    background-color: lightskyblue;
}

/*Sections de page mentions légales*/

.legal {
    position: center;
    margin-top: 50px;
    border: 3px blue solid;
    width: 100%
}

/*Sections de page politique de confidentialité*/

.confidential {
    position: center;
    margin-top: 50px;
    border: 3px blue solid;
    width: 100%    
}

/*planifier une réunion div */
.plan-button {
    display: flex;
    justify-content: center;
    background-color: rgb(66, 183, 187);
    margin-top: 30px;
    margin-bottom: 5px;
    border: 3px black solid;
    padding: 10px;
    font-size: 2em;
}

/* Pied de page (footer) */
#footer-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px black solid;
    text-align: center;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h3
{
    font-size: 1.1em;
}

#footer-logo {
    display: flex;
    flex-direction: column;
    border: 3px black solid; 
    width: 35%;
}

#footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: pink;
    border: 3px black solid;
    font-size: 0.8em; 
    width: 30%;
}

#footer-social {
    border: 3px black solid; 
    width: 35%;
}

/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  .fa-github {
    background: #000000;
    color: white;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #8a3ab9;
    color: white;
  }

@media screen and (max-width: 800px) {
    .menu {
        display: none;
    }

    .hamburger {
        display: block;
    }
    
    .block-page {
        width:auto;
    }

    #map-container {
        display: flex;
        flex-direction: column;
    }

    #address-map {
        margin: auto;
    }

    #directions {
        margin: auto;
    }

    #footer-container {
        display: flex;
        flex-direction: column;
    }

    #footer-logo {
        margin: auto;
    }

    #footer-links {
        margin: auto;
    }
    
    #footer-social {
        margin: auto;
    }

}